*{
    margin: 0px;


}
.row1{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin: 10px;
    background-color: yellow;

}
.row2{
    margin:10px ;
    text-align: center;
}


.row3{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}