*{
    margin: 0px;
    padding: 0px;
    color: white;
    text-decoration: none;
    text-align: center;
}
#navb1{
    
    width: 100%;
    height: 50px;
    background-color:black;
}
#navb11{
    display: flex;
    justify-content:space-between;
}
#navb12{
    display: flex;
    justify-content: space-evenly;
    
}
#lang button{
    background-color: black;
        padding: 10px;
        cursor: pointer;
        font-weight: 700;
        border: none;
    
}
#lang a{
    display: block;
    padding: 5px;
}
#lang .dropdown
{ position: absolute;
    display: none;
  background-color: blueviolet;
  box-shadow: 2px 2px 5px black;
  min-width: 100px;

}
#lang:hover .dropdown{
    display: block;
}
#upcoming{
    margin-left: 100px;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
.l1{
    
    margin-right: 50px;
}
#navb2{
    width: 100%;
    height: 60px;
    background-color: black;

}
#navb21{
    display: flex;
    justify-content: space-between;
}
#ic1{
    display: flex;
    justify-content: space-evenly;
}
#firstteam button{
    background-color: black;
        padding: 10px;
        color:beige;
        cursor: pointer;
        font-weight: 700;
        border: none;
        
}
#firstteam a{
    display: block;
    padding: 5px;
}
#firstteam .dropdown1
{ position: absolute;
    display: none;
  background-color: blueviolet;
  box-shadow: 2px 2px 5px black;
  min-width: 100px;
}
#firstteam:hover .dropdown1{
    display: block;
}
#im1 img{
    height: 35%;

}
.e1{
    margin-right: 80px;
    font-weight: 600;
    font-size: x-large;
    margin-top: 20px;
}
#home1 h1{
    margin-top: 300px;
     text-align: center;
     font-size: 50px;
     text-decoration: underline;
     cursor: pointer;
     font-weight: 900;
     color:darkred;
}
#home1 p{
    cursor: pointer;
    color: black;
    font-weight: bold;
}
#container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
}
#container div{
    height: 300px;
    width: 250px;
    background-image: linear-gradient(to top,darkred,darkblue);
    margin: 60px;
    cursor: pointer;
}
.image1{
    transition: 1s;
}

.image1 img{
    height: 50%;
    width: 100%;
}
.image1:hover{
    transform: scale(1.3);
}

ul {
    margin-top: 600px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  ul li {
    list-style: none;
  }
  
  ul li a {
    width: 80px;
    height: 80px;
    background-color:blueviolet;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
  }
  
  ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;}
  
  
  ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
  }
  
  ul li a:hover:before {
    top: 0;
  }
  #t1{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;

}
#t1 div{
    height: 300px;
    width: 250px;
    background-image: linear-gradient(to top,darkred,darkblue);
    margin: 60px;
    cursor: pointer;
}

.t2{
    transition: 1s;
}

.t2 img{
    height: 60%;
    width: 100%;
}
.t2:hover{
    transform: scale(1.3);}  
.t2 h3{
    color: yellow;
}